#______________________________________________________________________________

# Rules to manage the output bluetooth devices
# Jean-Paul Le Fèvre - November 2021

# The mac address is stored into the env var MY_ADDR in order to
# be available on remove. It seems that $attr{address} vanishes.

# udevadm monitor --environment --udev
# udevadm control --reload
# udevadm info -ap 
# /devices/pci0000:00/0000:00:14.0/usb1/1-3/1-3:1.0/bluetooth/hci0/hci0:21
#______________________________________________________________________________


SUBSYSTEM !="bluetooth", GOTO="bt_end"

ACTION != "add|remove", GOTO="bt_end"
ACTION == "add", GOTO="bt_add"
ACTION == "remove", GOTO="bt_remove"

LABEL="bt_add"

ATTR{address}=="f4:4e:fd:4d:52:6c", ENV{MY_DEV}="Anker"
ATTR{address}=="c0:28:8d:36:20:97", ENV{MY_DEV}="Boom VLF"
ATTR{address}=="00:09:a7:09:1b:ab", ENV{MY_DEV}="Headset"

ENV{RADIOG_HOME}="/home/lefevre/work/hub/radiog"
ENV{MY_PROG}="radiog"
ENV{MY_ADDR}="$attr{address}"

RUN+="$env{RADIOG_HOME}/bin/udev-probe.sh action: $env{ACTION} '$attr{address}' prog: '$env{MY_PROG}' device: '$env{MY_DEV}' mac: '$env{MY_ADDR}'"

GOTO="bt_end"

LABEL="bt_remove"

RUN+="$env{RADIOG_HOME}/bin/udev-probe.sh action: $env{ACTION} '$attr{address}' prog: '$env{MY_PROG}' device: '$env{MY_DEV}' mac: '$env{MY_ADDR}'"

GOTO="bt_end"

LABEL="bt_end"
#______________________________________________________________________________
