
<div class="d-flex flex-row p-2">

  <div class="col-sm-1 mt-0 pt-1 custom-control custom-switch"
       ngbTooltip="Radio {{onOff}}" placement="left">
    
    <input type="checkbox" class="custom-control-input" id="onOff"
           (click)="onSwitch()" checked="on">
    
    <label class="custom-control-label" for="onOff"></label>
  </div>

  <div class="col-sm-1 py-1" ngbTooltip="volume">
    <span class="badge badge-pill badge-light">{{ volume }}</span>
  </div>
  
  <div class="col volume ml-1 pt-2">
    <input type="range" class="custom-range"
           [value]="20.0" [(ngModel)]="volume" (change)="onChange(volume)"
           min="0" max="100" id="volume">
  </div>
  
</div>
