<div class="w-25 m-2 mt-4 p-2 border border-dark rounded">
  
  <fieldset>
    
    <div class=" m-2 p-2 ">
      <div class="form-check"
           *ngFor="let station of stations" (click)="onSelect(station)">
        <label class="form-check-label">
          <input type="radio" class="form-check-input"
                 name="optionsRadios"
                 id="{{ station.id }}" value="{{ station.id }}" checked="">
          {{ station.name }}
        </label>
      </div>
    </div>
    
  </fieldset>

  <div class="d-flex flex-row p-2 ">

    <div class=
         "col-sm-3 my-1 py-1 custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="onOff"
             checked="">
      <label class="custom-control-label" for="onOff">Off</label>
    </div>

    <div class="col volume  ml-2 pt-2">
      <input type="range" class="custom-range" min="0" max="110" id="volume">
    </div>
  </div>
  
  <app-radio class="d-flex justify-content-center mt-4"
             [station]="setStation">
  </app-radio>
</div>
